run = "npm run dev"
entrypoint = "client/src/main.tsx"
modules = ["nodejs-20:v25-20240515-b29e8f7"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 5174

[[ports]]
localPort = 5175
externalPort = 3002

[[ports]]
localPort = 8000
externalPort = 8000

[env]
NODE_ENV = "development"
VITE_HMR_PROTOCOL = "wss"
VITE_HMR_CLIENT_PORT = "443"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 36382494
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
